@import "../../global.scss";

.projects {
    background-color: $secondColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 2%;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        text-align: center;
        font-size: 70px;
        font-weight: 500;
        color: white;

        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
            display: none;
        }

        @include mobile {
            margin-top: 10px;
            font-size: 45px;
        }

        transition: all 100ms ease-in-out;
        &:active {
            color: black;
        }
    }

    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        li {
            color: white;
            font-size: 20px;
            margin: 20px;
            padding: 10px;
            width: 90px;
            border-radius: 15px;
            text-align: center;
            border: 3px solid white;
            font-family: 'Roboto', sans-serif;
            transition: all 100ms ease-in-out;
            cursor: pointer;

            scrollbar-width: none; //for firefox
            &::-webkit-scrollbar {
                display: none;
            }

            @include mobile {
                margin-top: 10px;
                font-size: 18px;
                margin: 8px;
                padding: 5px;
                width: 80px;
            }

            &.active {
                background-color: $mainColor;
                border: 3px solid $mainColor;
                color: white;
                &:hover {
                    background-color: $mainColor;
                    border: 3px solid $mainColor;
                    color: white;
                }
            }

            &:hover {
                background-color: white;
                color: $secondColor;
            }

        }
    }

    .container {
        width:fit-content;
        display: flex;
        justify-content:center;
        flex-wrap:wrap;
        margin-bottom: 20px;

        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
            display: none;
        }
        
        .item {
            width: 220px;
            height: 320px;
            border-radius: 20px;
            background: white;
            display: flex;
            flex-direction: column;
            border: 8px solid white;
            align-items: center;
            margin: 10px 20px;
            transition: all 200ms ease-in-out;
            flex-wrap:wrap;
            cursor: pointer;

            a {
                text-decoration: none;
                color: inherit;
            }

            h3 {
                margin-top: 12px;
                font-size: 22px;
                font-family: 'ZCOOL QingKe HuangYou', cursive;
                text-align: center;
            }

            p {
                margin: 10px;
                text-align: center;
                font-size: 15px;
                color: transparent;
                transition: all 200ms ease-in-out;

                @include mobile {
                    font-size: 12px;
                }
            }

            .tools {
                margin: 0px;
                color: gray;
            }

            .date {
                color: $mainColor;
                font-weight: 600;
            }

            .imgblock {
                img {
                    width: 220px;
                    height: 250px;
                    border-radius: 15px;
                    object-fit:cover;
                    transition: all 200ms ease-in-out;
                    
    
                    @include mobile {
                        width: 100%;
                        height: 140px;
                    }
    
                }

            }
            

            @include mobile {
                width: 30%;
                min-width: 200px;
                height: fit-content;
                border: 5px solid white;

                .desc{
                    color: black;
                }

            }

            @media (pointer:none), (pointer:coarse) {
                height: fit-content;
                .desc{
                    color: black;
                }
            }
            
            @include desktop {
                &:hover .desc{
                    color: black;
                }

                &:hover img{
                    height: 100px;
                    filter: blur(5px);
                    
                }
            }
            
        }
    }
}