@import "../../global.scss";

.projects {
    background-color: $secondColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 2%;
        font-family: 'Squada One', cursive;
        text-align: center;
        font-size: 70px;
        font-weight: 500;
        color: white;

        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
            display: none;
        }

        @include mobile {
            margin-top: 10px;
            font-size: 45px;
        }

        transition: all 100ms ease-in-out;
        &:active {
            color: black;
        }
    }

    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        li {
            color: white;
            font-size: 20px;
            margin: 20px;
            padding: 10px;
            width: 90px;
            border-radius: 15px;
            text-align: center;
            border: 3px solid white;
            font-family: 'Roboto', sans-serif;
            transition: all 100ms ease-in-out;
            cursor: pointer;

            scrollbar-width: none; //for firefox
            &::-webkit-scrollbar {
                display: none;
            }

            @include mobile {
                margin-top: 10px;
                font-size: 18px;
                margin: 8px;
                padding: 5px;
                width: 80px;
            }

            &.active {
                background-color: $mainColor;
                border: 3px solid $mainColor;
                color: white;
                &:hover {
                    background-color: $mainColor;
                    border: 3px solid $mainColor;
                    color: white;
                }
            }

            &:hover {
                border: 3px solid $mainColor;
                color: $mainColor
            }

        }
    }

    .container {
        width: 90%;
        min-width: 400px;
        display: flex;
        justify-content:center;
        flex-wrap:wrap;
        margin-bottom: 20px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;

        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar {
            display: none;
        }
        
        .item {
            width: 70%;
            height: 200px;
            border-radius: 20px;
            background: white;
            display: flex;
            flex-direction:row;
            border: 8px solid white;
            align-items: center;
            margin: 10px 20px;
            transition: all 200ms ease-in-out;
            flex-wrap:wrap;
            overflow: hidden;
            cursor: pointer;

            scrollbar-width: none; //for firefox
            &::-webkit-scrollbar {
                display: none;
            }

            .desc{
                color: black;
            }

            @media (max-width: 700px) { 
                width: 80%;
                min-width: 200px;
                height: fit-content;
                border: 5px solid white;

            }


            a {
                text-decoration: none;
                color: inherit;
                display: flex;
                flex-direction:row;
            }

            h3 {
                margin-top: 12px;
                font-size: 30px;
                font-family: 'Squada One', cursive;
                text-align: left;
                transition: all 200ms ease-in-out;
            }

            p {
                margin-bottom: 12px;
                text-align: left;
                font-size: 15px;
                color: transparent;
                transition: all 200ms ease-in-out;

                @include mobile {
                    font-size: 12px;
                }
            }

            .tools {
                color: gray;
            }

            .date {
                color: $mainColor;
                font-weight: 600;
                margin-top: 5px;
            }

            .textblock {
                width:  500px;
            }

            .imgblock {
                margin: 5px;
                margin-right: 20px;
                img {
                    object-fit: cover;
                    width: 100%;
                    max-width: 220px;
                    height: 190px;
                    border-radius: 15px;
                    transition: all 200ms ease-in-out;
                    
    
                    @media (max-width: 700px) { 
                        width: 100%;
                        max-width: 150px;
                        height: 140px;
                    }
    
                }

            }
            

            
            
            @include desktop {
                &:hover h3{
                    color: white;
                }

                &:hover .tools{
                    color: #ffd0d0;
                }

                &:hover .date{
                    color: white;
                }

                &:hover p{
                    color: white;
                }

                &:hover {
                    background-color: $mainColor;
                    border-color: $mainColor;
                    
                }
            }

            // @media (pointer:none), (pointer:coarse) {
            //     height: fit-content;
            //     .desc{
            //         color: black;
            //     }

            //     &:hover img{
            //         height: 250px;
            //     }
            // }
            
        }
    }

    .help {
        color: white;
        margin:15px;
    }
}