@import "../../global.scss";

.mobileLinksContainer {
    height: 100%;
    display: flex;
    align-items: center;

    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
        display: none;
    }
}

.mobileLinksWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    list-style: none;
    background-color: $mainColor;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0px;
    align-items: center;
    transition: all 200ms ease-in-out;
    padding-top: 30px;
    
}

.mobileLink {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-right: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    transition: all 100ms ease-in-out;
    width:50%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;

    &:hover {
        color: $mainColor;
        background-color: white;
    }
}