@import "../../global.scss";

.topbar {
    width: 100%;
    height: 80px;
    background-color: $secondColor;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 7;

    .wrapper {
        padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            .logo {
                font-family: 'ZCOOL QingKe HuangYou', cursive;
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
                transition: all 100ms ease-in-out;

                &:active {
                    color: black;
                }
            }

            .linksContainer {
                display: flex;
                align-items: center;
                justify-items: center;
                margin-left: 20px;

                .link {
                    height: 100%;
                    font-family: 'ZCOOL QingKe HuangYou', cursive;
                    font-size: 25px;
                    font-weight: 500;
                    text-decoration: none;
                    color: inherit;
                    margin-right: 40px;
                    border-bottom: 2px solid transparent;
                    border-top: 2px solid transparent;
                    transition: all 100ms ease-in-out;
                    min-width: 50px;
                    padding: 7px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $mainColor;
                        color: white;
                    }
                }
            }
        }

        .right { 
            scrollbar-width: none; //for firefox
                &::-webkit-scrollbar {
                    display: none;
                }
            min-width: 50px;
            
        }
    }
}