body {
    margin: 0;
    background-color: rgb(223, 223, 223);
    overflow: hidden;
    scrollbar-width: none;
    
}

::-webkit-scrollbar {
    display: none;
}


.navbar {
    overflow: hidden;
    background-color: #303138;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    margin: 0;
    padding: 0;
    width: 100%; /* Full width */
    height: 80px;
    align-items: center;
    display: flex;


}

.return {
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    width: 90px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid white;
    font-family: 'Roboto', sans-serif;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    
}

.return:hover {
    background-color: white;
    color: #303138;
}

.content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.titlebox {
    padding-top: 50px;
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: black;
}

.titlebox img {
    max-height: 200px;
    max-width: 100%;
}

h1 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 100px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.titleButtonHolder {
    height:max-content;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.titleButtons {
    color: white;
    font-size: 20px;
    margin: 20px;
    margin-top: 30px;
    padding: 20px;
    width: fit-content;
    border-radius: 15px;
    text-align: center;
    background-color: #d15249;
    font-family: 'Roboto', sans-serif;
    transition: all 100ms ease-in-out;
    text-decoration: none;
}

.titleButtons:hover {
    background-color: #303138;
    color: white;
}

.infobox {
    height: fit-content;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap-reverse;
    justify-content:space-around;
    font-weight: 300;
    background-color: #d15249;
    padding: 10px;
    margin-top: 50px;
    color: white;
    font-size: 20px;

}

.infobox img {
    border-radius: 20px;
    margin: 20px;
    max-width: 50%;
    min-width: 30%;
    max-height: 400px;
    object-fit:cover;
}

.infotext {
    max-width: 50%;
    min-width: 300px;
    text-align: left;
    margin: 20px;
}

.details {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.details h2 {
    margin: 20px;
    margin-top: 80px;
    font-size: 40px;
}

.detailstext {
    margin: 20px;
    max-width: 1200px;
    font-size: 20px;
}

.detailstext a{
    color: #d15249;
    font-weight: 500;
    text-decoration: none;
}

.toolList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: #d15249;
    font-weight: 500;
    margin-top: 20px;
    
}

.tool {
    background-color: white;
    width:fit-content;
    padding: 10px;
    border-radius: 10px;
    margin:10px
}

iframe {
    border-radius: 20px;
    max-width: 90%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 20px;
}

.horizontal img {
    /* max-height: 500px; */
    max-width: 450px;
    border-radius: 20px;
    object-fit:cover;
}

@media only screen and (max-width: 700px) {
    .infotext {
        max-width: 100%;
    }

    .horizontal img {
        /* max-height: 500px; */
        max-width: 90%;
        min-width: 300px;
    }
}
