@import "../../global.scss";

.skills {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;


    h1 {
        color: $mainColor;
        font-family: 'Squada One', cursive;
        font-size: 70px;
        font-weight: 500;
        text-align: center;
        margin-top: 20px;

        @include mobile {
            margin-top: 10px;
            font-size: 45px;
        }

        transition: all 100ms ease-in-out;
        &:active {
            color: black;
        }
    }

    .techSkills {
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: $mainColor;
        border-radius: 20px;
        align-self: center;
        width: fit-content;
        max-width: 80%;
        height: 70%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        @include mobile {
            width: 70%;
        }

        h2 {
            color: white;
            align-self: center;
            padding: 3px;
            font-family: 'Squada One', cursive;
            font-size: 25px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            border-bottom: 3px solid white;

            @include mobile {
                font-size: 20px;
            }

            scrollbar-width: none; //for firefox
            &::-webkit-scrollbar {
                display: none;
            }
        }

        .skillSlot {
            display: flex;
            flex-direction: row;
            height: auto;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            scrollbar-width: none; //for firefox
            &::-webkit-scrollbar {
                display: none;
            }

            p {
                align-self: center;
                background-color: white;
                color: $mainColor;
                margin: 8px;
                padding: 10px;
                border-radius: 15px;
                width: fit-content;
                height: fit-content;
                // font-family: 'Squada One', cursive;
                font-weight: 500;
                font-size: 20px;
                transition: all 200ms ease-in-out;

                @include mobile {
                    font-size: 22px;
                    margin: 5px;
                    padding: 9px;
                }
    
                &:hover {
                    background-color: $secondColor;
                    color: white;
                }
            }
        }

        
    }

    
}