$mainColor: #d15249;
$secondColor: #131317;

$width: 860px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
};

@mixin desktop {
    @media (min-width: #{$width}) {
        @content
    }
};